<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/asses/favicon/Logo_Img.svg"
      type="VietHub Airline"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"/>

    <!-- font icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <!-- reset css -->
    <link rel="stylesheet" href="/asses/css/reset.css" />
    <!-- style css -->
    <link rel="stylesheet" href="/asses/css/style_booking.css" />
    
    <title>VietHub Airline</title>
  </head>
  <body>

    <!-- header -->
    <header class="header">
      <div class="menu">
        <!-- Logo -->
        <a href="./"
          ><img
            src="/asses/favicon/Logo_Gr.svg"
            alt="Shine smile"
            class="logo header__logo"
        /></a>
        <!-- Navbar  -->
        <nav class="navbar">
          <ul class="navbar__list" id="navbar__list--pc">
            <li class="navbar__item">
              <a href="/index_home.html" class="navbar__link">Home</a>
            </li>
            <li class="navbar__item">
              <a href="index_search.html" class="navbar__link">Search</a>
            </li>
            <li class="navbar__item">
              <a href="/index_booking.html" class="navbar__link navbar__link--active">Booking</a>
            </li>
            <li class="navbar__item">
              <a href="/index_home.html" class="navbar__link">About</a>
            </li>
            <li class="navbar__item">
              <a href="/index_home.html" class="navbar__link">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- cta action -->
        <div class="header__action">
          <a href="#!" class="header__action--login">Log in</a>
          <a href="#!" class="btn header__action--signup">Sign up</a>
        </div>
      </div>
    </header>




    <!-- main -->
    <main>
<div class="main">
  <div class="info">
      <!-- hero -->
      <h1>Itinerary</h1>
      <div class="container_destination">
          <div class="box1"> Outbound Flight</div>
          <div class="box2">
            <p><strong>SGN </strong>Ho Chi Minh <img class="image_arrow" src="\asses\booking\icons8-arrow-50.png" alt="arrow" width="20" height"20">
              <strong>ICN<strong> Seoul/Incheon<p></b>
             <p class="date_des">Fri, Apr 19, 2024, 07:50-15:15 <strong> KE478 </strong> Economy Class<p>
             </div> 
          <div class="box3"><button class="btn_box">details</button></div> 
      </div>

    <h1>Passenger information</h1>

    <p class="require">[*is a required item.]</p>
    <p class="note">Please enter your name accurately as it appears on your passport. This cannot be revised after booking is made</p>
    <div class="bar"></div>
    <div class="container">
      <header>Adult</header>
        <form action="#">
                <div class="details personal">
                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input class="click" type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                            <label>ID</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>
                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>
                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="input-field">
                          <label>Passenger Type</label>
                          <select required>
                              <option disabled selected>Select passenger type</option>
                              <option>Adult</option>
                              <option>Child</option>
                              <option>Infant</option>
                          </select>
                        </div>
                        <div class="input-field">
                          <label>Chair Number</label>
                          <select required>
                              <option disabled selected>Select chair number</option>
                          </select>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <div class="container_contact">
    <a href="#"> Contact information</a>
    </div>
  </div>
  <div class="calculation">
    <div class="container_price">
    <p class="charge">Air transportation charge</p>
      <div class="container_cal">
        <div>
            <p >fare</p>
            <p>USD</p>
        </div>
        <div>
          <p >discount</p>
            <p>USD</p>
        </div>

        <div>Total amount</div>

        <button class="pay">Pay Now</button>
  </div>
  
</div>
    </main>

  </body>
</html>
