<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/asses/favicon/Logo_Img.svg"
      type="VietHub Airline"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"/>

    <!-- font icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <!-- reset css -->
    <link rel="stylesheet" href="/asses/css/reset.css" />
    <!-- style css -->
    <link rel="stylesheet" href="/asses/css/style_search.css" />
    
    <title>VietHub Airline</title>
  </head>
  <body>

    <!-- header -->
    <header class="header">
      <div class="menu">
        <!-- Logo -->
        <a href="./"
          ><img
            src="/asses/favicon/Logo_Gr.svg"
            alt="Shine smile"
            class="logo header__logo"
        /></a>
        <!-- Navbar  -->
        <nav class="navbar">
          <ul class="navbar__list" id="navbar__list--pc">
            <li class="navbar__item">
              <a href="/index_home.html" class="navbar__link">Home</a>
            </li>
            <li class="navbar__item">
              <a href="index_search.html" class="navbar__link navbar__link--active">Search</a>
            </li>
            <li class="navbar__item">
              <a href="/index_booking.html" class="navbar__link">Booking</a>
            </li>
            <li class="navbar__item">
              <a href="/index_home.html" class="navbar__link">About</a>
            </li>
            <li class="navbar__item">
              <a href="/index_home.html" class="navbar__link">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- cta action -->
        <div class="header__action">
          <a href="#!" class="header__action--login">Log in</a>
          <a href="#!" class="btn header__action--signup">Sign up</a>
        </div>
      </div>
    </header>

    <!-- main -->
    <main>

      <!-- hero -->
      <section class="hero">
        <img
          class="hero__img "
          src="/asses/img/Plane_Search.svg"
          alt="Plane_0"
        />
        <div class="hero__content">
          <h1 class="hero__heading">Có làm gì đâu mà xem</h1>
          <p class="hero__desc">
            Enjoy your trip and receive the personal service you deserve. with world-leading services
          </p>
          <div class="hero__row">
            <a href="#!" class="btn">Book Online</a>
            <span class="hero__phone">or call (123) 456-789</span>
          </div>
        </div> 
      </section>

    </main>

    



  </body>
</html>
