* {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
  }
  :root {
    --font-heading: "Sora";
    --font-content: "Open Sans";
    --primary-color: #21A9DE;
    --header-bg: #00256C;
    --partners-bg: #F6FBFF;
  }
  
  /* ========== common ========== */
  /* se co nhung the khong an theo thuoc tinh chung */
  input,
  textarea,
  select,
  button {
    font-family: inherit;
    font-size: inherit;
  }
  .container {
    width: 1170px;
    margin: 100px auto;
    max-width: calc(100% - 48px);
  }
  a {
    text-decoration: none;
  }
  .btn {
    /* box chua */
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    border-radius: 30px;
    background: var(--primary-color);
  
    /* text */
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }
  .btn:hover {
    /* Lam mo nen */
    opacity: 0.9;
  }
  .section-heading {
    color: var(--header-bg);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
  }
  .section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
  }
  .control {
    display: flex;
    column-gap: 18px;
    align-items: center;
  }
  .control__btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #575f66;
    background: #fff;
    cursor: pointer;
    transition: 0.25s;
  }
  .control__btn:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
  }
  .control__btn--next {
    rotate: 180deg;
  }
  
  /* ========== header ========== */
  .header {
    background: var(--header-bg);
    min-width: 100vw;
  }
  .menu {
    padding: 10px;
    width: 1400px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__list {
    display: flex;
  }
  .header__action--login,
  .navbar__link {
    padding: 8px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
  }
  .navbar__link:hover,
  .navbar__link--active {
    color: #fff;
    /* font-weight: 400; -> ko dung vi no se day cac ptu khi weight thay doi */
    text-shadow: 1px 0 0 currentColor;
    line-height: 1.75;
  }
  .header__action--signup {
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
  }
  .header__action--login {
    margin-right: 7px;
  }
  
  /* ========== main ========== */
  
  

  /* ===== hero ===== */
.hero__heading {
  color: #FFF;
  text-align: center;
  font-size: 9rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.response__heading {
  color: #FFF;
  text-align: center;
  font-size: 7rem; /* Adjust as needed */
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 30px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  width:  458px;
  text-align: center;
}
.hero__row {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}
.hero{
  display: flex;
  position: relative;
}
.hero__content {
  margin: 250px 480px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center; 
}
.response__content { 
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__img {
  min-width: 100vw;
  object-fit: cover;
}

/*==============flight info====================*/

.container__itinerary{
  margin-top: 20px;
  padding: 30px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itinerary__box1{
  width: 150px;
  font-size:24px;
  color:var(--header-bg);
}
.itinerary__box2{
  color:var(--header-bg);
  text-align: center;
}
.itinerary__des{
  padding:10px;
  font-size:10px;
  color:var(--desc-color);
}
.btn_box{
  padding: 15px;
  width: 100px;
  font-size:1.2rem;
  color: #fff;
  background:var(--header-bg);
  border-radius: 10px;
  text-align: center;
}
.btn_box:hover{
  opacity: 0.9;
  cursor: pointer;
}

/*==== information ====*/

.information{
  margin: 0 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.information__require{
  margin: 15px;
  padding-left: 10px;
  font-size: 1.5rem;
}
.information__note{
  padding:15px ;
  color: #00256C;
  background: #9fbdffa6;
  border-radius: 10px;
  font-size: 1.5rem;
}

/*==== Passengers ====*/

.container {
  border-radius: 6px;
  padding: 30px;
  background-color:#fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.passenger__heading{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--header-bg)
}

.container form {
  position: relative;
  margin-top: 16px;
  background-color: #fff;
  overflow: hidden;
}
.container form .form {
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease;
}
.container form .form.second {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
form.secActive .form.second {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
form.secActive .form.first {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}

.container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .fields .input-field {
  display: flex;
  width: calc(100% / 2 - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #626262d8;
}
.input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400px;
  color: #333;
  border-radius: 5px;
  border: 1px solid #00256C;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.input-field input :focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border: 2px solid #00bcd4;
  background: #ddd;
}
.input-field input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border: 2px solid #00256C;
  background: #f6f6f6e8;
}
.input:focus{
  border: 4px solid #00256C;
}

.input-field select,
.input-field input[type="datetime-local"] {
  color: #333;
}
.input-field input[type="date"]:valid {
  color: #333;
}


.container_inter{
    color:#00256C;
    margin-top: 30px;
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
  }
.add_station{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add_planeStation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.inter_title{
    font-size:40px;
    text-decoration-thickness:5px;
}

.btn_add_sign{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_sign:hover .btn_add_sign{
  opacity: 0.9;
  cursor: pointer;
  background-color: var(--header-bg)
}
.station_info{
    display: flex;
    flex-direction: column;
    text-align:left;
}
.name_station{
    margin-bottom:20px;
    font-size:20px;
}
.time_station{
    margin-bottom:10px;
}
.note_station{
    color:#00BCD4;
}


.btn_confirm_add{
    width:400px;
    padding: 20px;
    border-radius:10px;
    background: #00256C;
    color:#ffffff;
}
.btn_confirm_add:hover{
    opacity: 0.8;
    cursor: pointer;
}

.btn_confirm_add:focus{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    color:#00256C;
    border: 1px solid #00256C;
}

.btn_center{
    margin:40px;
    align-items: center; 
    display: flex;
    justify-content: center;
}
.img_plane{
    width:50px;
    height:50px;
}

.add_station_title{
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}