<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">  
<title>Search Flight</title>
</head>
<body>     
    <h1>Flight Search</h1>
    <form th:action="@{'/' + ${role} + '/SearchFlight'}" method="POST">
        <label for="departureAirport">Departure Destination:</label><br>
        <select name="maSanBayDi">
          <option disabled selected>Select destination</option>
          <option th:each="sanbay: ${sanbay}" th:value="${sanbay.maSanBay}" th:text="${sanbay.diaChi + ' (' + sanbay.maSanBay + ')'}"></option>
        </select> <br>
        <label for="arrivalAirport">Arrival Destination:</label><br>
        <select name="maSanBayDen">
          <option disabled selected>Select destination</option>
          <option th:each="sanbay: ${sanbay}" th:value="${sanbay.maSanBay}" th:text="${sanbay.diaChi + ' (' + sanbay.maSanBay + ')'}"></option>
      </select><br>
      <label for="departureTime">Departure Time:</label><br>
      <input type="date" id="departureTime" name="ngayKhoiHanh"><br>
      <label class="form-label" for="Seat">Cabin Class</label><br>
      <select class="form-input" id="Seat" name="maHangVe">
          <option disabled selected>Select cabin class</option>
          <option value="HANG1">HANG1</option>
          <option value="HANG2">HANG2</option>
      </select><br>
      <button type="submit">Search</button>
    </form><br> 

         
    <h2>Flight Results</h2>
    <table border="1">
        <tr>
            <th>MaChuyenBay</th>
            <th>MaMB</th>
            <th>MaSanBayDi</th>
            <th>MaSanBayDen</th>
            <th>NgayGioBay</th>
            <th>ThoiGianBay</th>
            <th>HangVe</th>
            <th>SoGheDat</th>
            <th>SoGheTrong</th>
            <th>DonGiaHangVe</th>
        </tr>
        <tr th:each="flightWithCTHV : ${flightWithCTHV}">
            <td th:text="${flightWithCTHV.flight.maChuyenBay}"></td>
            <td th:text="${flightWithCTHV.flight.maMB}"></td>
            <td th:text="${flightWithCTHV.flight.maSanBayDi}"></td>
            <td th:text="${flightWithCTHV.flight.maSanBayDen}"></td>
            <td th:text="${flightWithCTHV.flight.ngayGioBay}"></td>
            <td th:text="${flightWithCTHV.flight.thoiGianBay}"></td>
            <td th:text="${flightWithCTHV.cthangve.maHangve}"></td>
            <td th:text="${flightWithCTHV.cthangve.soGheDat}"></td>
            <td th:text="${flightWithCTHV.cthangve.soGheConLai}"></td>
            <td th:text="${flightWithCTHV.cthangve.donGiaHV}"></td>
            <td>
              <a th:if="${flightWithCTHV.cthangve.soGheConLai > 0}" th:href="@{'/' + ${role} + '/BookFlight/' + ${flightWithCTHV.flight.maChuyenBay} + '/' + ${flightWithCTHV.cthangve.maHangve}}">Book</a>
            </td>
        </tr>
    </table>
</body>
</html>
